################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Countries.BusinessLogicLayer/bin/Debug/netcoreapp3.1
/Countries.DataAccessLayer/bin/Debug/netcoreapp3.1
/Countries.DataAccessLayer/obj/Debug/netcoreapp3.1
/Countries.BusinessLogicLayer/obj/Debug/netcoreapp3.1
/RexStudios.DynamicsCRM.Actions
